<div id="home-container">
<div id="container">
<section id="grid" class="grid discovery clearfix">
  <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
    <figure>
      <img src="<%=image_path('getlost.jpg') %>"/>
      <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
      <figcaption>
        <h2>Challenges</h2>
        <p>What to expect when you have been diagnosed</p>
        <button>View</button>
      </figcaption>
    </figure>
  </a>
  <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
    <figure>
      <img src="<%=image_path('write.png') %>" />
      <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
      <figcaption>
        <h2>Stories</h2>
        <p>blah.</p>
        <button>View</button>
      </figcaption>
    </figure>
  </a>
  <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
    <figure>
      <img src="<%=image_path('difficult.png') %>" />
      <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
      <figcaption>
        <h2>Insert relevant here</h2>
        <p>blah</p>
        <button>View</button>
      </figcaption>
    </figure>
  </a>
  <a href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
    <figure>
      <img src="<%=image_path('pattern.jpg') %>" />
      <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
      <figcaption>
        <h2>Help</h2>
        <p>Tips</p>
        <button>View</button>
      </figcaption>
    </figure>
  </a>
</section>
</div>
<hr>
<section id="problem" >
  <div id="text-left"> 
    <h3>More Than Just an Illness</h3>
    <span class="main-text">
      Currently, technology for people with dementia are focused on treating symptoms, thus reducing them to their illness. YANA believes you are more than your illness, nor do you have to face your challenges alone.
    </span>
  </div>
  <div id="pic-right"> 
    <img src="<%=image_path('') %>"/>
  </div>
</section>
<section id="leap" >
  <div id="text-right"> 
    <h3>Person Centered</h3>
    <span class="main-text">
    A ​"person-centered" platform for people affected by dementia to share their experiences, their hobbies, and their interests amongst each other through their stories.
  </span>
  </div>
  <div id="pic-left"> 
    <img src="<%=image_path('') %>"/>
  </div>
</section>
<section id="getting-back" >
  <div id="text-left"> 
    <span class="main-text"></span>
  </div>
  <div id="pic-right"> 
    <img src="<%=image_path('') %>"/>
  </div>
</section>
<section id="register" >
  <div id="reg-pic">
    <img src="<%= image_path('itsnottoolate.gif') %>"/>
  </div>
  <div id="reg-box">
    <h2> Join Us, It's never too late </h2>
    <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: "person@example.com", required: true %>
      </div>
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control', placeholder: "Full Name (if blank it will be saved as anonymous)", required: true%>
      </div>
      <div class="p-group">
        <%= f.password_field :password, class: 'form-control', placeholder: "Password (Minimum 6 letters)", required: true %>
      </div>
      <div class="p-group">
        <%= f.password_field :password_confirmation , class: 'form-control', placeholder: "Password Confirmation", required: true %>
      </div>
      <div class="select-group">
        <%= f.select(:category, [['Patient', 'patient'], ['Caregiver', 'caregiver']]) %>
      </div>
      <%= f.submit :submit %>
    <% end %>
  </div>
</section>
<section id="team" >
  <div id="team-container"> 

  </div>
</section>
<section id="Sponsors" >
  <div id="sponsor-container"> 
  </div>
</section>
<script type="text/javascript">
  (function() {

    function init() {
      var speed = 250,
        easing = mina.easeinout;

      [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
        var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
          pathConfig = {
            from : path.attr( 'd' ),
            to : el.getAttribute( 'data-path-hover' )
          };

        el.addEventListener( 'mouseenter', function() {
          path.animate( { 'path' : pathConfig.to }, speed, easing );
        } );

        el.addEventListener( 'mouseleave', function() {
          path.animate( { 'path' : pathConfig.from }, speed, easing );
        } );
      } );
    }

    init();

  })();
</script>