<% if user_signed_in? %>
  <h1><%= @user.name %></h1>
  <% @stories.each do |story| %>
    <h2><%= story.title %></h2>
    <p><%= story.content %></p>
    <p><%= story.votes %></p>
    <p><%= story.comments.count %></p>
  <% end %>
<% else %>
<p> You must be signed in to view stories </p>
<% end %>