<div id='read_story'>
  <h3><%= story.title %></h3>
  <b>Written by <%= story.user.category %> <%= story.user.name %></b>
  <p><%= story.content %></p>
  <a href="#add-comment">Add Comment</a>
  <div>
    <i class="fa fa-heart"></i> <%= story.votes %>  
    <i class="fa fa-comments"></i> <%= story.comments.count %>
  </div>
</div>
<div id="story_comments">
  <% story.comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.user.name %> said:</p>
      <p><%= comment.content %></p>
    </div>
  <% end %>
</div>