<div id='read_story'>
  <h3><%= story.title %></h3>
  <b>Written by <%= story.user.category %> <%= story.user.name %></b>
  <p><%= story.content %></p>
  <div>
    <i class="fa fa-heart"></i> <%= story.votes %>  
    <i class="fa fa-comments"></i> <%= story.comments.count %>
  </div>
</div>
<div id="story-comments">
  <div id="comment-list">
    <% story.comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.user.name %> said:</p>
        <p><%= comment.content %></p>
      </div>
    <% end %>
  </div>
  <div id="comment-box">
    <h4> Add Comments </h4>
    <form id="comment-form" accept-charset="UTF-8" data-remote="true">
      <input name="authenticity_token" value="#{form_authenticity_token}" type="hidden">
      <input class="story_id" name="story_id" type="hidden" value="<%= story.id %>">
      <div id="content">
          <textarea id="comment_content" class="comment-content" name="content" placeholder='Write your stories here'>
          </textarea>
      </div>
      <div id="submit-btn">
          <input class="btn btn-default" type="submit" name="Save">
      </div>
    </form> 
  </div>
</div>
<script type="text/javascript">
  var handle;

  $(document).ready(function(){
    $('#comment_content').wysihtml5();
    $( "#comment-form" ).submit(function( event ) {
      // Stop form from submitting normally
      event.preventDefault();
      var s_id = $('.story_id').val();
      var rawText = $('#comment_content').val();
      $.post("/comments", {story_id:s_id, content:rawText}, function(data)  {
        $('#comment-list').append('<div class="comment"><p>' + data.u_name + ' said:</p><p>' + rawText + '</p></div>');
      });
    });
  });
</script>