<div class='story'>
  <h3><%= story.title %></h3>
  <% if story.content.length > 250 %>
    <p>
      <%= truncate(story.content, length: 250) %>
      <%= link_to 'Read more', story_path(story), class: "read-more-#{story.id}" %>
    </p>
  <% else %>
    <p><%= story.content %></p>
  <% end %>
  <% verb = if current_user.id == story.user_id then 'View' else 'Add' end %>
  <%= link_to "#{verb} Comments", story_path(story), class: "read-more-#{story.id}" %>
  <div>
    <i class="fa fa-heart"></i> <%= story.votes %>  
    <i class="fa fa-comments"></i> <%= story.comments.count %>
  </div>
</div>